<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/logo-dark.svg" alt="Image" width="220" height="80" class="mb-3">
                </div>

                <form class="form" [formGroup]="form" (ngSubmit)="login()">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" formControlName="email" type="text" placeholder="Seu email" pInputText
                        class="w-full md:w-30rem" style="padding:1rem">
                    <small class="ng-dirty ng-invalid ng-validator"
                        *ngIf="!this.form.get('email')?.valid &&
                            (this.form.get('email')?.dirty ||
                             this.form.get('email')?.touched)
                        "> O campo e-mail é obrigatório.
                    </small>

                    <label for="password1" class="block text-900 font-medium text-xl mt-5 mb-2">Senha</label>
                    <input id="password1" formControlName="password" type="password" placeholder="Seu senha" pInputText
                        class="w-full md:w-30rem" style="padding:1rem">
                    <small class="ng-dirty ng-invalid ng-validator" *ngIf="!this.form.get('password')?.valid &&
                            (this.form.get('password')?.dirty ||
                             this.form.get('password')?.touched)
                        ">
                        O campo senha é obrigatório.
                    </small>

                    <div class="flex align-items-center justify-content-between mt-5 mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Lembre-me</label>
                        </div>
                    </div>
                    <button pButton pRipple label="Entrar" [disabled]="this.form.invalid" class="w-full p-3 text-xl"></button>
                </form>
            </div>
        </div>
    </div>
</div>
